html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profile-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .profile-header h2 {
        margin: 0;
    }

.profile-details, .medical-history, .nurse-section, .appointment-section {
    margin-top: 20px;
}

    .profile-details label, .medical-history label, .nurse-section label, .appointment-section label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .profile-details div, .medical-history div, .nurse-section div, .appointment-section div {
        margin-bottom: 10px;
    }

.edit-button, .appointment-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.room-number {
    font-size: 0.9em;
    color: #555;
}